header(class="header")
  .container-fluid
    div(class="header-block")
      .header-logo
        img(src='assets/images/logo-white.svg')
      h2.header__title Think this pair of sneakers is worth its estimate? Or no way it’ll make it?
      .header__call
        p.header__text Put your knowledge to test! With The Art Exchange, you can make a guess and earn some money if your prognosis is correct.
        a.btn.btn--red(href='#descript') learn more
      .header__product
        .header__product-inner
          .product__text
            p.product__title Original Air Jordan sneakers fetch
            p.product__price $4.500
          .product__img
            img(src='assets/images/sneakers.png')




      