extends ../layouts/default-layout.pug
block content
  section.descript#descript
    .container-fluid
      h1.section-title The Art Exchange is the first online platform for trading derivatives on collectibles*
      .descript__platform
        img(src='assets/images/platform.png')
      .descript__how
        .descript__header
          h3.block-title How it works...
        .descript__block
          ul.descript__list
            li.descript__list-item
              p.list-item--number 1.
              p.list-item--text Download The Art Exchange wallet app and log in to The Art Exchange. 
            li.descript__list-item
              p.list-item--number 2.
              p.list-item--text Select the pair of sneakers you like and fill in the details to make an order: the price below (or above) you think the pair will go and your nominal. 
            li.descript__list-item
              p.list-item--number 3.
              p.list-item--text Check your potential takeaway with our calculator. Adjust your prognosis or confirm it and place the order.
            li.descript__list-item
              p.list-item--number 4.
              p.list-item--text Done! The platform will match you with an opponent. A person, whose guess is accurate, will win
  section.why
    .container-fluid
      .why-inner
        .why__header
          h3.block-title Why The Art Exchange
        .why__block
          ul.why-list
            li.why-list__item
              p.wly-list__title Innovative 
              p.why-list__text We are the first to offer financial contracts -  analogies to futures - on collectibles like sneakers.
            li.why-list__item
              p.wly-list__title Secure 
              p.why-list__text Built on blockchain, the platform auto-execute transactions, keeps your data anonymous and secure.
            li.why-list__item
              p.wly-list__title Compliant 
              p.why-list__text We comply with the current regulation on blockchain and financial procedures 
          a.btn.btn--red(href="https://trade.theart.exchange" target="_blank") start trading
    



            